body{
	background-image: url(assets/home/background-home-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.home{
	color: white;
	/*margin-top: 10px;*/
	letter-spacing: 2.35px;
	/*text-align: right;*/
	font-size: 16px;
	font-family: "Barlow Condensed", sans-serif;
	/*letter-spacing: 2.35px;*/
	color: white;
	padding: 16px;
	
}
.links{
	text-decoration: none;	
}
a { 
	color: inherit; 
}


li{
	float: right;*/
	margin: 5px;	
	list-style: none;
	display: flex;
    flex-direction: row-reverse;
	
}
/*#container-menu{
	text-align: right;
}*/

.container-paragrafo{
	width: 400px;
	height: 200px;
	color: white;
	margin-left: 20px;
	margin-top: 300px;
}
p{
	text-align: justify;
}
h1{
	font-size: 120px;
}

.explore{
	margin-top: 90px;
		
}
.container-explore{	
	background-color: white;
	width: 200px;
	height: 200px;
	float: right;
	color: black;
	text-align: center;
	border-radius: 500px;
	margin-top: 150px;
	margin-right: 50px;
}
/*#container-menu{
	text-align: right;
}