body{
	background-image: url(assets/home/background-home-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.home{
	color: white;
	/*float: right;*/
	list-style: none;
	/*margin-top: 10px;*/
	display: flex;
	letter-spacing: 2.35px;
	

}

.container-paragrafo{
	width: 400px;
	height: 200px;
	color: white;
	margin-left: 20px;
	margin-top: 300px;
}
p{
	text-align: justify;
}
h1{
	font-size: 120px;
}

.explore{
	margin-top: 90px;
		
}
.container-explore{	
	background-color: white;
	width: 200px;
	height: 200px;
	float: right;
	color: black;
	text-align: center;
	border-radius: 500px;
	margin-top: 150px;
	margin-right: 50px;
}