body{
	background-image: url(assets/crew/background-crew-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.home{
	color: white;	
	letter-spacing: 2.35px;	
	font-size: 16px;
	font-family: "Barlow Condensed", sans-serif;	
	color: white;
	padding: 30px;
	position: absolute;/*para permitir o posicionamento absoluto*/
	top: 0;/*O TOP: 0 E O RIGHT: 0 SERVE PARA ALINHAR A DIV NO CANTO SUPERIOR DIREITO*/
	right: 0;	
	background-color: rgba(255,255,255,0.3);
	margin-top: 10px;
	width: 50%;
	text-align: right;
	
}
.links{
	text-decoration: none;	
	color: inherit; 
	margin-left: 15px;
}

.container-crew{	
	letter-spacing: 2.35px;	
	font-size: 16px;
	font-family: "Barlow Condensed", sans-serif;	
	color: gray;
	padding: 30px;
	position: absolute;/*para permitir o posicionamento absoluto*/
	top: 0;/*O TOP: 0 E O RIGHT: 0 SERVE PARA ALINHAR A DIV NO CANTO SUPERIOR DIREITO*/
	right: 0;	
	margin-top: 250px;
	width: 60%;
	text-align: right;
	font-size: 26px;
	
}

a{
	text-decoration: none;
	color: inherit; 
}
a:hover{/*para o link ficar subliinhado apenas quando passar a seta por cima*/
	text-decoration: underline;
}