body{
	background-image: url(assets/home/background-home-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.home{
	color: white;	
	letter-spacing: 2.35px;	
	font-size: 16px;
	font-family: "Barlow Condensed", sans-serif;	
	color: white;
	padding: 30px;
	position: absolute;/*para permitir o posicionamento absoluto*/
	top: 0;/*O TOP: 0 E O RIGHT: 0 SERVE PARA ALINHAR A DIV NO CANTO SUPERIOR DIREITO*/
	right: 0;
	
}
.links{
	text-decoration: none;	
	color: inherit; 
}

li{
	float: right;
	margin: 5px;	
	list-style: none;
}
.container{
  color: white;
  float: right;
  width: 400px;
  margin-top: 300px;  
}
.container-paragrafo{
	width: 400px;
	height: 200px;
	color: white;
	margin-left: 20px;
	margin-top: 300px;
}
p{
	text-align: justify;
}
h1{
	font-size: 120px;
}

.explore{
	margin-top: 90px;
		
}
.container-explore{	
	background-color: white;
	width: 200px;
	height: 200px;
	float: right;
	color: black;
	text-align: center;
	border-radius: 500px;
	margin-top: 150px;
	margin-right: 50px;
}
/*#container-menu{
	text-align: right;
}