body{
  background-image: url(assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home{
      color: white; 
      letter-spacing: 2.35px; 
      font-size: 16px;
      font-family: "Barlow Condensed", sans-serif;  
      color: white;
      padding: 30px;
      position: absolute;/*para permitir o posicionamento absoluto*/
      top: 0;/*O TOP: 0 E O RIGHT: 0 SERVE PARA ALINHAR A DIV NO CANTO SUPERIOR DIREITO*/
      right: 0;
}
.container{
  color: white;
  float: right;
  width: 400px;
  margin-top: 300px;  
}
.position-planet{
  margin-top: 250px;
  margin-left: 200px;  
  display: inline-block;
}
h3{
  color: white;
}
h1{
  font-size: 80px;
}
#moon{
  margin-left: 100px;
}
h3{
  margin-left: 100px;
}
ul{
  color: white;
  list-style: none;
}
.links{
  text-decoration: none;
  margin: 5px;
}
a{
  text-decoration: none;
  color: inherit; 
}
a:hover{/*para o link ficar subliinhado apenas quando passar a seta por cima*/
  text-decoration: underline;
}
p{
  text-align: justify;
  font-size: 20px;
}